.container{
    
    /***Main Content Styling***/
    .main-content{
        
        #mainStream{
            
            #streamHolder{
                padding: 0;
            }
            
            #chat{
                padding: 0;
                
                iframe{
                    height: 500px;
                    width: 100%;
                }
            }
            
            
        }
         
        #streamList{
            margin-top: 20px;
            padding: 0px; 
            width: 100%;
            overflow-x: scroll;
            white-space: nowrap;
            
            .streams{
                display:inline-block;                               
            }
            
            .streams:hover{
                background-color: lightgrey; 
            }
        }
    }
}
